[submodule "Arduino/lib/jeelib"]
	path = Arduino/lib/jeelib
	url = git@github.com:jcw/jeelib.git
[submodule "Arduino/crypto/arduinolibs"]
	path = Arduino/crypto/arduinolibs
	url = https://github.com/rweather/arduinolibs.git
